    </div>
    <img src="/images/flower_1.png" alt="A pretty flower" id="flower_1" class="eyecandy" />
<!--
    <svg:svg
xmlns:svg="http://www.w3.org/2000/svg"
   width="150"
   height="175"
   viewBox="0 0 300 350"
   id="flower_1">
     <svg:g
     id="layer1"
     style="stroke-width:10;">
    <svg:path
       d="M 56.966144,355.11933 C 45.700744,253.92944 97.282838,183.13652 152.53916,117.05531"
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path5646" />
    <svg:path
       d="M 155.52605,132.45576 C 137.29201,315.9262 -142.29425,142.96072 131.84423,113.70767 C -99.77462,159.33782 118.11459,-86.043629 156.51279,97.91979 C 143.36643,-118.58031 452.33105,127.39224 173.28741,115.68115 C 392.81389,154.09761 120.30246,306.58411 155.52605,132.45576 z "
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#c41f1f;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path5648" />
       </svg:g>
</svg:svg>
-->
    <div id="navigation">
      <h2>Pages</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="https://xaviershay.com">About</a></li>
        <li><a href="https://github.com/xaviershay">Projects</a></li>
      </ul>
      <h2>Categories</h2>
      <ul>
        <li><a href="/code">Code</a></li>
        <li><a href="/food">Food</a></li>
        <li><a href="/ethics">Ethics</a></li>
      </ul>
    </div>
    <img src="/images/flower_2.png" alt="Another pretty flower" id="flower_2" class="eyecandy" />
<!--
  <svg:svg
xmlns:svg="http://www.w3.org/2000/svg"
   width="99"
   height="120"
   viewBox="0 0 330 400"
   id="flower_2">
  <svg:g style="fill:none;stroke:#000000;fill-rule:evenodd;stroke-width:10;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1">
    <svg:path d="M 283.08053,405.13782 C 299.58982,293.17869 232.21,225.63429 168.91008,151.73361" />
    <svg:path
       d="M 184.99688,172.9629 C 285.40634,380.1622 -42.612308,305.28179 151.76715,167.00022 C -106.87008,322.27903 46.185482,-48.02215 143.74057,134.01364 C 24.430584,-62.129527 358.598,4.9724968 174.01768,132.86012 C 418.79074,36.189053 307.04786,339.80238 184.99688,172.9629 z "
       style="fill:#ffffff;fill-opacity:1;stroke:#c41f1f;" />
  </svg:g>
</svg:svg>
-->

<div id="footer">Xavier Shay's Blog &#169; Xavier Shay. Valid <a href="http://validator.w3.org/check?uri=referer">HTML5</a> and <a href="http://feedvalidator.org/check.cgi?url=https://rhnh.net/posts.atom">ATOM</a>.</div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-5241922-1");
  pageTracker._trackPageview();
  </script>
</body>
</html>
